<div class="profile-container">
  <h2>Personal Information</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="name" formControlName="name" placeholder="name"/>
    </div>
    <div class="form-group">
      <input type="email" id="email" formControlName="email" placeholder="email"/>
    </div>
    <div class="form-group">
      <input type="text" id="address" formControlName="address" placeholder="address"/>
    </div>
    <div class="profile-buttons">
      <button type="submit" [disabled]="!profileForm.valid">Update Profile</button>
    </div>
  </form>
</div>
