.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #212;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: coral;
    text-decoration: none;
}

.item a:hover {
    color: goldenrod;
}