<div class="password-container">
  <div class="password-card">
    <div>
      <div class="title-section">
        <h4>Almost there!</h4>
        <span> Insert your password to connect with us. </span>
      </div>
      <div class="profile-picture">
        <!-- <img src="" alt="avatar" /> -->
        <span class="material-symbols-sharp"> account_circle </span>
      </div>
      <div class="login-ellipse">
        <form [formGroup]="passwordForm">
          <input 
          type="text"
          class="password-text"
          placeholder="Password"
          formControlName="password"
          />
          <button 
          type="button" 
          class="forward-button"
          (click)="onNextClick()">
            <span>Sign in</span>
            <em class="material-icons">arrow_forward</em>
          </button>
        </form>
      </div>

      <div class="info-section">
        <span class="forgot-password-text"
          >Forgot password?
          <a class="recover-password-text">Recover</a>
        </span>
      </div>
    </div>
  </div>
</div>
