<footer class="footer">
  <div class="contact-info">
    <h4>Customer Support</h4>
    <p>Email: email@email</p>
    <p>Phone number: (00) 1234 1234</p>
  </div>
  <div class="compliance">
    <p>Legal Information</p>
    <p>
      <a routerLink="/shipping">
        Taxes and fees<em class="material-icons">request_quote</em>
      </a>
    </p>
    <p>
      <a routerLink="/shipping">
        Refund Policy<em class="material-icons">request_quote</em>
      </a>
    </p>
    <p>
      <a routerLink="/shipping">
        Shipping Policy<em class="material-icons">article</em>
      </a>
    </p>
    <p>
      <a routerLink="/shipping">
        Terms of Service<em class="material-icons">article</em>
      </a>
    </p>
  </div>
</footer>
<div class="developer">
  Developed by
  <a href="github.com/samuelmendespy">
    @samuelmendespy
  </a>
</div>
