<div class="home__container">
  <app-card
    gameCover="assets/nba.png"
    gameLabel="DIGITAL"
    gameType="DISC | PS4"
    gamePrice="R$ 999,99"
  >
  </app-card>
  <app-card
    gameCover="assets/nba.png"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 999,99"
  >
  </app-card>
  <app-card
    gameCover="assets/nba.png"
    gameLabel="GAME AWARDS"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 999,99"
  >
  </app-card>
  <app-card
    gameCover="assets/nba.png"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 PS4 PS5"
    gamePrice="R$ 999,99"
  >
  </app-card>
  <app-card
    gameCover="assets/na-5a.png"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 PS4 PS5"
    gamePrice="R$ 999,99"
  >
  </app-card>
  <app-card
    gameCover="assets/nr-5a.png"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 PS4 PS5"
    gamePrice="R$ 999,99"
  >
  </app-card>
</div>
